<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:nc="http://typo3.org/ns/NC/NcProviderMain/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">

  <!--TYPO3SEARCH_begin-->

  <main id="main" class="SectionMain">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}"/>
    <div class="u-mt-xl">
      <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}"/>
    </div>
  </main>

  <nc:viteAsset extension="nc_provider_main" entry="main.js" />

  <!--TYPO3SEARCH_end-->

</f:section>


</html>
