<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{header}">
  <f:switch expression="{layout}">
    <f:case value="2">
      <h2 class="Text-heading-4xl"><f:format.htmlentitiesDecode>{header}</f:format.htmlentitiesDecode></h2>
    </f:case>
    <f:case value="3">
      <h3 class="Text-heading-3xl"><f:format.htmlentitiesDecode>{header}</f:format.htmlentitiesDecode></h3>
    </f:case>
    <f:case value="4">
      <h4 class="Text-heading-2xl"><f:format.htmlentitiesDecode>{header}</f:format.htmlentitiesDecode></h4>
    </f:case>
    <f:case value="5">
      <h5 class="Text-heading-xl"><<f:format.htmlentitiesDecode>{header}</f:format.htmlentitiesDecode></h5>
    </f:case>
    <f:case value="6">
      <h6 class="Text-heading-lg"><f:format.htmlentitiesDecode>{header}</f:format.htmlentitiesDecode></h6>
    </f:case>
    <f:case value="100">
      <f:comment> -- do not show header -- </f:comment>
    </f:case>
    <f:defaultCase>
      <f:if condition="{default}">
        <f:render partial="Header/Header" arguments="{
					header: header,
					layout: default,
					link: link}" />
      </f:if>
    </f:defaultCase>
  </f:switch>
</f:if>
</html>
