<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<f:section name="Example">

  <div>

    <f:render partial="Styleguide/Headline" section="Headline" arguments="{title:'Grid'}"/>

    <div class="u-container u-background--white u-my-2">
      <div class="u-limitWidth-20 u-align-center">
        <div class="u-row">
          <div class="u-col">
            <div class="sg-grid-col">GridCol1Even limitWidth-20</div>
          </div>
        </div>
      </div>
    </div>

    <div class="u-container u-background--white u-my-2">
      <div class="u-limitWidth-12 u-align-center">
        <div class="u-row">
          <div class="u-col">
            <div class="sg-grid-col">GridCol1Even limitWidth-12</div>
          </div>
        </div>
      </div>
    </div>

    <div class="u-container u-background--white u-my-2">
      <div class="u-limitWidth-10 u-align-center">
        <div class="u-row">
          <div class="u-col">
            <div class="sg-grid-col">GridCol1Even limitWidth-10</div>
          </div>
        </div>
      </div>
    </div>

    <div class="u-container u-background--white u-my-2">
      <div class="u-limitWidth-8 u-align-center">
        <div class="u-row">
          <div class="u-col">
            <div class="sg-grid-col">GridCol1Even limitWidth-8</div>
          </div>
        </div>
      </div>
    </div>

    <div class="u-container u-background--white u-my-2">
      <div class="u-limitWidth-12 u-align-center">
        <div class="GridCol2Even-row u-row">
          <div class="GridCol2Even-col u-col">
            <div class="sg-grid-col">GridCol2Even-col limitWidth-10</div>
          </div>
          <div class="GridCol2Even-col u-col">
            <div class="sg-grid-col">GridCol2Even-col limitWidth-10</div>
          </div>
        </div>
      </div>
    </div>

    <div class="u-container u-background--white u-my-2">
      <div class="u-limitWidth-12 u-align-center">
        <div class="u-row">
          <div class="GridCol3Even-col u-col">
            <div class="sg-grid-col">GridCol3Even-col</div>
          </div>
          <div class="GridCol3Even-col u-col">
            <div class="sg-grid-col">GridCol3Even-col</div>
          </div>
          <div class="GridCol3Even-col u-col">
            <div class="sg-grid-col">GridCol3Even-col</div>
          </div>
        </div>
      </div>
    </div>

    <div class="u-container u-background--white u-my-2">
      <div class="u-limitWidth-12 u-align-center">
        <div class="u-row">
          <div class="GridCol4Even-col u-col">
            <div class="sg-grid-col">GridCol4Even-col</div>
          </div>
          <div class="GridCol4Even-col u-col">
            <div class="sg-grid-col">GridCol4Even-col</div>
          </div>
          <div class="GridCol4Even-col u-col">
            <div class="sg-grid-col">GridCol4Even-col</div>
          </div>
          <div class="GridCol4Even-col u-col">
            <div class="sg-grid-col">GridCol4Even-col</div>
          </div>
        </div>
      </div>
    </div>


    <div class="u-container u-background--white u-my-2">
      <div class="u-limitWidth-10 u-align-center">
        <div class="GridCol2Even-row u-row">
          <div class="GridCol2Even-col u-col">
            <div class="sg-grid-col">GridCol2Even-col limitWidth-10</div>
          </div>
          <div class="GridCol2Even-col u-col">
            <div class="sg-grid-col">GridCol2Even-col limitWidth-10</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</f:section>


</html>



