<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:section name="Example">
  <div>
    <f:render partial="Styleguide/Headline" section="Headline" arguments="{title:'Webfonts'}"/>
    <div class="u-container">
      <div class="u-limitWidth-12 u-align-center u-mb-r4">
        <p style="font-size:28px; line-height:28px;">
          <span style="font-family: 'Nunito Sans', sans-serif; font-weight: 400; font-style: normal; display: block;" contenteditable="true">Nunito Sans 400 </span>
          <span style="font-family: 'Nunito Sans', sans-serif; font-weight: 800; font-style: normal; display: block;" contenteditable="true">Nunito Sans 800 </span>
        </p>
      </div>
    </div>
  </div>
</f:section>

</html>



