<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<f:section name="Default">

  <header id="header" class="SectionHeader u-print-hide" data-theme="light">
    <f:render section="SkipNavigation" partial="Page/Navigations" arguments="{data:data}"/>

    <div class="u-container ">
      <div class="SectionHeader-sectionTop">
        <f:link.page class="SectionHeader-logolink" pageUid="{settings.pidStartpage}" additionalAttributes="{title:'Startseite'}">
          <f:image src="EXT:nc_provider_main/Resources/Public/Images/logo-header.svg" width="353" height="118"/>
        </f:link.page>
        <div class="SectionHeader-portalLink"></div>
        <f:comment>
<!--        <nav class="SectionyHeader-mainmenu u-print-hide" aria-label="Seiten">-->
<!--          <button class="SectionHeader-hamburger js-disclosure-trigger" aria-haspopup="true" aria-controls="headermainmenu" aria-expanded="false">-->
<!--            <span class="SectionHeader-Hamburger-icons">-->
<!--              <f:render partial="Base/Symbols" section="Symbol" arguments="{name:'menu', class:'SectionHeader-Hamburger-icon-hamburger'}"/>-->
<!--              <f:render partial="Base/Symbols" section="Symbol" arguments="{name:'close', class:'SectionHeader-Hamburger-icon-close'}"/>-->
<!--            </span>-->
<!--            <span class="SectionHeader-Hamburger-label">Menü</span>-->
<!--          </button>-->

<!--          <div id="headermainmenu" class="SectionHeader-mainNav js-disclosure-panel" aria-hidden="true" data-disclosure-disable-at="(min-width:1392px)" >-->
<!--            <ul class="MainNavigation js-disclosure-list" data-disclosure-multiexpand="false">-->
<!--              <f:render section="MainNavigation" partial="Page/Navigations" arguments="{nav:mainNavigation}"/>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </nav>-->
        </f:comment>
      </div>
    </div>
  </header>

</f:section>


</html>




