<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:nc="http://typo3.org/ns/NC/NcProviderMain/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<f:section name="Default">
  <f:variable name="h1" value="{f:if(condition: data.headline, then:data.headline, else: data.title)}"/>
  <f:if condition="{media}">
    <f:then>
      <f:alias map="{firstMedia:media.0}">


        <f:variable name="imageurlLG" value="{f:uri.image(image: firstMedia, width: '1040', cropVariant: '21:9')}"/>
        <f:variable name="imageurlXL" value="{f:uri.image(image: firstMedia, width: '2000', cropVariant: '21:9')}"/>


        <div class="DefaultHero u-mb-fluid-3xl" data-theme="dark">
          <h1 class="DefaultHero-headline u-visuallyHidden">
            <span class="DefaultHero-headline-bars">
              <f:format.htmlentitiesDecode><f:format.nl2br>{h1}</f:format.nl2br></f:format.htmlentitiesDecode>
            </span>
          </h1>

          <f:image class="DefaultHero-image" image="{firstMedia}" alt="{firstMedia.alternative}" width="2000" cropVariant="21:9" additionalAttributes="{srcset: '{imageurlLG} 1040w, {imageurlXL} 2000w',  sizes: '100vw'}"/>

          <div class="DefaultHero-overlay">
            <svg class="u-scalingInlineSVG" xmlns="http://www.w3.org/2000/svg" width="2000" height="530" viewBox="0 0 2000 530" focusable="false" aria-hidden="true" role="img" preserveAspectRatio="xMidYMin slice"
                 style="padding-bottom: 17.25%;">
              <path fill="white" d="M0 0L0 362H2000V41.5659C1783.29 210.197 1474.32 308.156 1060.46 308.156C613.682 308.156 254.634 193.994 0 0Z" />
            </svg>
          </div>

          <a class="DefaultHero-scrollDown" href="#maincontent" title="Zum Inhalt scrollen">
            <f:render partial="Base/Symbols" section="Symbol" arguments="{name:'arrow-down'}"/>
          </a>


        </div>

      </f:alias>
    </f:then>
    <f:else>
      <div class="u-container u-my-fluid-3xl">
        <div class="u-limitWidth-12 u-align-center">
          <h1 class="Text-heading-4xl">
            <f:format.htmlentitiesDecode><f:format.nl2br>{h1}</f:format.nl2br></f:format.htmlentitiesDecode>
          </h1>
        </div>

      </div>
    </f:else>

  </f:if>
</f:section>

</html>
