@use "../abstracts/mixins";

.Breadcrumb {

  // font-style: normal;
  //color: colors.$black;
}

.Breadcrumb-item {
  display: inline-block;
}

.Breadcrumb-link {

  --ts-component-link-color: var(--ts-semantic-color-fg-action);
  font-size: var(--ts-semantic-font-size-sm);
  color: var(--ts-component-link-color);
  text-decoration: none;

  transition: background-size 0.2s ease;

  &:hover {
    --ts-component-link-color: var(--ts-semantic-color-fg-action--hover);
  }

  .Breadcrumb-item:last-of-type & {
    // color: colors.$port-orange-100;
  }
}

.Breadcrumb-arrowIcon {
  color: var(--ts-semantic-color-fg-default);
  // color: colors.$baltic-blue-100;
  display: inline-block;
  fill: currentColor;
  width: 1em;
  margin-left: 4px;
  margin-right: 4px;
}
