@use "sass:math";


.FooterNavigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  list-style: none;
}

.FooterNavigation-link {
  --nc-component-link-color: var(--nc-semantic-color-fg-action);
  font-size: var(--nc-semantic-font-size-md);

  color: var(--nc-component-link-color);
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-underline-offset: 0.5em;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--nc-component-link-color);
  padding: 0;
  margin: 0;
  transition: color 0.2s ease, text-decoration-color 0.2s ease;
  display: inline;

  &:hover {
    --nc-component-link-color: var(--nc-semantic-color-fg-action--hover);
  }
}
