<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:nc="http://typo3.org/ns/NC/NcProviderMain/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<section id="c{data.uid}" class="u-container u-bg-{data.background_color_class} {f:if(condition: '{data.background_color_class} == accent || {data.theme} == dark' , then:'u-py-xl')}" data-theme="{data.theme}">
  <f:render section="Main" optional="true" arguments="{_all}"/>
</section>

</html>
