<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:nc="http://typo3.org/ns/NC/NcProviderMain/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.colPos} == 0">
  <f:then>
    <section id="c{data.uid}" class="u-container u-bg-{data.background_color_class} {f:if(condition: '{data.background_color_class} == accent || {data.theme} == dark' , then:'u-py-xl')}" data-theme="{data.theme}">
      <div class="u-limitWidth-8 u-align-center">
        <f:render section="Main" optional="true" arguments="{_all}"/>
      </div>
    </section>
  </f:then>
  <f:else>
    <section id="c{data.uid}">
      <f:render section="Main" optional="true" arguments="{_all}"/>
    </section>
  </f:else>
</f:if>
</html>
