<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">


<f:section name="ImageGallery">

  <f:variable name="numImages" value="0"/>
  <f:for each="{images}" as="mediaElement">
    <f:if condition="{mediaElement.originalResource.type} == 2 OR {mediaElement.originalResource.type} == 5">
      <f:variable name="numImages" value="{numImages + 1}"/>
    </f:if>
  </f:for>

  <f:if condition="{numImages} > 0">
    <f:if condition="{numImages} == 1">
      <f:then>
        <f:render section="ImageOnly" arguments="{files: images, id:id}"/>
      </f:then>
      <f:else>
        <f:render section="ImageSlider" arguments="{files: images, id:id}"/>
      </f:else>
    </f:if>
  </f:if>
</f:section>


<f:section name="ImageOnly">
  <div class="ImageSlider">
    <div class="ImageSlider-slides">
      <f:alias map="{mediaElement:files.0}">

        <figure class="ImageSlider-slide">
          <f:image image="{mediaElement}" class="ImageSlider-slideImage" height="640" alt="{mediaElement.originalResource.alternative}" loading="lazy" />

          <f:if condition="{mediaElement.originalResource.description}">
            <figcaption class="ImageSlider-slideFigcaption u-limitWidth-8 u-align-center">
              {mediaElement.originalResource.description}
            </figcaption>
          </f:if>
        </figure>
      </f:alias>
    </div>
  </div>
</f:section>


<f:section name="ImageSlider">
  <div class="ImageSlider js-imageslider" role="region" aria-label="Bildergalerie">
    <div id="imageslider{id}" class="ImageSlider-slides js-imageslider-list" tabindex="0" role="list" >
      <f:for each="{files}" as="mediaElement" iteration="iterator">

        <f:if condition="{mediaElement.originalResource.type} == 2 OR {mediaElement.originalResource.type} == 5">
          <figure id="imageslide{id}-{iterator.cycle}" class="ImageSlider-slide js-imageslider-item" >

            <f:image image="{mediaElement}" class="ImageSlider-slideImage" height="640" alt="{mediaElement.originalResource.alternative}" loading="lazy" />

            <f:if condition="{mediaElement.originalResource.description}">
              <figcaption class="ImageSlider-slideFigcaption u-limitWidth-8 u-align-center">
                {mediaElement.originalResource.description}
              </figcaption>
            </f:if>

          </figure>
        </f:if>
      </f:for>
    </div>

    <div class="ImageSlider-controls js-imageslider-controls">

      <div class="ImageSlider-slideArrows" aria-label="Galerie Navigation">
        <button class="Imageslider-controlPrev js-imageslider-trigger-prev" aria-label="Vorheriges Bild" aria-controls="imageslider{id}">
          <f:render partial="Base/Symbols" section="Symbol" arguments="{name:'chevron-left'}"/>
        </button>
        <button class="Imageslider-controlNext js-imageslider-trigger-next" aria-label="Nächstes Bild" aria-controls="imageslider{id}">
          <f:render partial="Base/Symbols" section="Symbol" arguments="{name:'chevron-right'}"/>
        </button>
      </div>
    </div>

  </div>

</f:section>


</html>
