.AccordionGroup {
  list-style-type: none;

  --nc-component-accordiongroup-item-bg-color: var(--nc-semantic-color-bg-action-accent);
  --nc-component-accordiongroup-item-fg-color: var(--nc-semantic-color-fg-action);

  //border-top: 1px solid colors.$blue;
}

.AccordionGroup-item {
  overflow: hidden;
  transition: background-color 0.2s ease;

  //border-bottom: 1px solid colors.$blue;
  background-color: var(--nc-component-accordiongroup-item-bg-color);
  margin-bottom: 8px;
}

.AccordionGroup-title {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 16px;
  outline-offset: -2px !important;
  text-decoration: none;

  .is-open & {
    border-radius: 0;
  }
}

.AccordionGroup-icon {
  width: 1.5em;
  height: 1.5em;
  line-height: 1;
  color: var(--nc-component-accordiongroup-item-fg-color);
  fill: currentcolor;
  flex-shrink: 0;
  margin-left: 0.5em;
  margin-top: 0.125em;
  transition: transform 0.2s ease, color 0.2s ease;

  .is-open & {
    transform: scale(-1);
    --nc-component-accordiongroup-item-fg-color: var(--nc-semantic-color-fg-action--hover);
  }

  .AccordionGroup-title:hover & {
    --nc-component-accordiongroup-item-fg-color: var(--nc-semantic-color-fg-action--hover);
  }
}

.AccordionGroup-label {
  font-weight: var(--nc-semantic-font-weight-bold);
  color: var(--nc-component-accordiongroup-item-fg-color);
  font-size: var(--nc-semantic-font-size-md);
  line-height: var(--nc-semantic-font-line-height-sm);
  font-style: normal;

  transition: transform 0.2s ease, color 0.2s ease;

  .is-open & {
    --nc-component-accordiongroup-item-fg-color: var(--nc-semantic-color-fg-action--hover);
  }

  .AccordionGroup-title:hover & {
    --nc-component-accordiongroup-item-fg-color: var(--nc-semantic-color-fg-action--hover);
  }
}

.AccordionGroup-panel {
  display: none;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;

  &.is-open {
    display: block;
  }
}
