.ContactList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 2rem;
  justify-content: center;
}

.ContactList-item {
  // flex-grow: 1;
  // flex-shrink: 0;
  // flex-basis: 460px;  // min width on 320px viewport
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  width: 100%;
  max-width: 416px;
}

.ContactList-contactImage {
  aspect-ratio: 4/3;
  object-fit: cover;
}
