.DownloadList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > * + * {
    margin-top: 1rem;
  }
}

.DownloadList-item {
  display: flex;
  position: relative;
  width: 100%;
}

.Downloadlist-colExtension {
  background-color: var(--ts-semantic-color-bg-action-default);
  padding: 1rem;
  flex-basis: 15%;
  min-width: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Downloadlist-extension {
  text-transform: uppercase;
  color: var(--ts-semantic-color-fg-on-contrast);
  font-size: var(--ts-semantic-font-size-md);
  font-weight: var(--ts-semantic-font-weight-bold);
}

.Downloadlist-colText {
  background-color: var(--ts-semantic-color-bg-accent);
  padding: 1rem;
  flex-basis: 100%
}

.DownloadList-link {

  font-weight: var(--ts-semantic-font-weight-bold);
  color: var(--ts-semantic-color-fg-default);
  font-size: var(--ts-semantic-font-size-md);
  line-height: var(--ts-semantic-font-line-height-sm);
  text-decoration: none;
  hyphens: auto;
  word-break: break-word;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
