// wrapper around input and label
.FormField {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > * + * {
    margin-top: var(--ts-semantic-space-2xs);
  }
}

// form label and legend
.FormField-label {
  font-weight: var(--ts-semantic-font-weight-regular);
  color: var(--ts-semantic-color-fg-default);
  font-size: var(--ts-semantic-font-size-base);
}

// wrapper around input
.FormField-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--ts-semantic-space-xs);
}

// modifier for inline form elements
.FormField-input--inline {
  flex-direction: row;
  column-gap: var(--ts-semantic-space-md);
}

// Label for radiobutton and checkbox
.FormField-choiceLabel {
  font-weight: var(--ts-semantic-font-weight-regular);
  color: var(--ts-semantic-color-fg-default);
  font-size: var(--ts-semantic-font-size-base);
}

// wrapper div around radiobutton and checkbox
.FormField-choice {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--ts-semantic-space-xs);
}
