@use "sass:math";
@use "../abstracts/mixins";

.GridCol3Even-row {
  row-gap: var(--ts-semantic-space-md);
  list-style: none;
}

.GridCol3Even-row--gap-lg {
  row-gap: var(--ts-semantic-space-lg);
}

.GridCol3Even-row--gap-xl {
  row-gap: var(--ts-semantic-space-xl);
}

.GridCol3Even-col {
  @include mixins.respond-to-grid(5) {
    width: math.percentage(math.div(6, 12));
  }

  @include mixins.respond-to-grid(7) {
    width: math.percentage(math.div(4, 12));
  }
}
