.u-bg-default {
  background-color: var(--ts-semantic-color-bg-default);
}

.u-bg-accent {
  background-color: var(--ts-semantic-color-bg-accent);
}

.u-bg-highlight {
  background-color: var(--ts-semantic-color-bg-highlight);
}

// .u-bg-quaternary{
//   background-color: var(--ts-semantic-color-bg-quaternary);
// }
