@use "sass:map";

// https://andy-bell.co.uk/my-favourite-3-lines-of-css/
// https://every-layout.dev/layouts/stack/
// https://jsfiddle.net/c31hbLm4/

$sizes: (
  "none",
  "2xs",
  "xs",
  "sm",
  "base",
  "md",
  "lg",
  "xl",
  "2xl",
  "3xl",
  "4xl",
  "fluid-lg",
  "fluid-xl",
  "fluid-2xl",
  "fluid-3xl",
  "fluid-4xl",
  "fluid-5xl",
  "fluid-6xl",
  "text",
);

@each $size in $sizes {
  .u-stack-#{$size} {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & > * + * {
      margin-top: var(--ts-component-stack-space, 1rem);
    }
  }

  .u-stack-#{$size} > * + * {
    --ts-component-stack-space: var(--ts-semantic-space-#{$size});
  }

  .u-stack-item--#{$size} {
    --ts-component-stack-space: var(--ts-semantic-space-#{$size});
  }
}
