
$brown-180: #461101;
$brown-100: #973714;
$yellow-100: #EABA6B;
$mint-100: #BDBF62;
$mint-60: #d8d9a2;

$red-100: #AA0000;
$green-100: #008040;

$black: #000000;
$white: #ffffff;
$gray: #cccccc;

$gray-190: #0D0D0D;
$gray-180: #1A1A1A;
$gray-170: #262626;
$gray-160: #333333;
$gray-150: #404040;
$gray-140: #4D4D4D;
$gray-130: #5A5A5A;
$gray-120: #666666;
$gray-110: #737373;
$gray-100: #808080;
$gray-90: #8D8D8D;
$gray-80: #999999;
$gray-70: #A6A6A6;
$gray-60: #B3B3B3;
$gray-50: #C0C0C0;
$gray-40: #CCCCCC;
$gray-30: #D9D9D9;
$gray-20: #E6E6E6;
$gray-10: #F2F2F2;
