// font families
$family-poppins: "Poppins", sans-serif;
$family-chocolate: "August", sans-serif;

// font weights
$weight-400: 400;
$weight-800: 800;

// font line heights
$line-height-100: 1;
$line-height-125: 1.25;
$line-height-150: 1.5;

// font scales
$scale-50: 50%;
$scale-100: 100%;
