@use "coreTokenGrid";
@use "functions";

@mixin visuallyUnhidden {
  clip: auto;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

@mixin visuallyHidden() {
  // Hide only visually, but have it available for screenreaders: h5bp.com/v
  & {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
  }

  // Extends the .visuallyhidden class to allow the element
  // to be focusable when navigated to via the keyboard: h5bp.com/p
  &.focusable:active,
  &.focusable:focus {
    @include visuallyUnhidden;
  }
}

// http://gridcalculator.dk/#/1200/12/32/16

// :root {
//  --ts-core-grid-gutter-width: $gutter-width;
//  --ts-core-grid-col-width: $col-width;
// }

// @mixin respond-to($size: md) {
//  @media (min-width: map.get($_breakpoints, $size)) {
//    @content;
//  }
// }

@mixin respond-to-grid($cols) {
  // $inner-width: math.div(100 + constants.$outer-pad * 2, 100);

  @media (min-width: coreTokenGrid.$col-width * $cols + 2rem) {
    @content;
  }
}

@mixin edgeLeft($color: #FFFFFF) {
  background-image: functions.svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="132px" height="552px" viewBox="0 0 132 552" enable-background="new 0 0 132 1000" xml:space="preserve" preserveAspectRatio="xMidYMid meet"><path fill="' + $color + '" d="M36.0072151,0.993030596 C71.1124674,92.4709166 94.2997599,250.293171 94.2997599,429.64972 C94.2997599,475.053104 92.8138516,519.076508 90.0248497,560.99301 L-89.9103565,560.99301 C-89.4877648,519.076508 -89.0608149,475.053104 -89.0608149,429.64972 C-89.0608149,250.293171 -95.7232797,92.4709166 -82.4608882,0.993030596 L36.0072151,0.993030596 Z"/></svg>');
}

@mixin edgeRight($color: #FFFFFF) {
  background-image: functions.svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="132px" height="552px" viewBox="0 0 132 552" style="transform: scale(-1, 1)" enable-background="new 0 0 132 1000" xml:space="preserve" preserveAspectRatio="xMidYMid meet"><path fill="' + $color + '" d="M36.0072151,0.993030596 C71.1124674,92.4709166 94.2997599,250.293171 94.2997599,429.64972 C94.2997599,475.053104 92.8138516,519.076508 90.0248497,560.99301 L-89.9103565,560.99301 C-89.4877648,519.076508 -89.0608149,475.053104 -89.0608149,429.64972 C-89.0608149,250.293171 -95.7232797,92.4709166 -82.4608882,0.993030596 L36.0072151,0.993030596 Z"/></svg>');
}

@mixin edgeMobile($color: #FFFFFF) {
  background-image: functions.svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="768px" height="51px" viewBox="0 0 768 51" enable-background="new 0 0 132 1000" xml:space="preserve" preserveAspectRatio="xMidYMid meet"><path fill="' + $color + '" d="M768,427.125391 C735.381576,422.018052 696.61244,417.361527 652.772709,413.266649 L642.566329,412.331698 C640.850428,412.177551 639.127148,412.024248 637.396553,411.871794 L626.925672,410.96732 L616.282144,410.083544 C603.765132,409.064662 590.901655,408.088654 577.712793,407.157683 L566.328859,406.370787 C552.955783,405.465728 539.263343,404.606324 525.272619,403.794738 L513.208012,403.110853 C511.185233,402.998841 509.15649,402.887817 507.121844,402.777789 L494.84362,402.129603 C490.727594,401.917554 486.588448,401.709535 482.426672,401.505595 L469.87395,400.906068 L457.188404,400.331324 C455.063241,400.237615 452.932667,400.144952 450.796743,400.05334 L437.917491,399.516338 L424.912788,399.004875 L411.785586,398.519256 C409.587674,398.440489 407.384782,398.362812 405.176969,398.286231 L391.871547,397.839942 L378.451,397.420253 C376.204812,397.352538 373.95395,397.285944 371.698476,397.220478 L358.11077,396.841254 L344.415314,396.489387 L330.615056,396.165178 C328.306444,396.113465 325.993587,396.062917 323.676549,396.01354 L309.72462,395.731387 C300.39053,395.552723 290.991489,395.393002 281.53143,395.252629 L267.29607,395.056629 C264.916046,395.026398 262.532332,394.997388 260.144989,394.969607 L245.777868,394.817706 C236.171409,394.726331 226.508848,394.654807 216.794118,394.603539 L202.183388,394.541878 C194.858952,394.518694 187.506276,394.507016 180.127021,394.507016 C117.859858,394.507016 57.4852163,395.338464 0,396.899066 L0,444.12892 L768,444.12892 L768,427.125391 Z" transform="translate(0 -394)"/> </svg>');
}
