<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Container"/>

<f:section name="Main">
  <div class="u-limitWidth-10 u-align-center u-print-hide">
    <div class="u-stack-lg">
      <f:render partial="Header/All" arguments="{_all}"/>
      <div class="u-limitWidth-7 u-align-left">
        <div class="RTE u-stack-text">
          <f:format.html>{data.bodytext}</f:format.html>
        </div>
      </div>

      <form class="Form u-stack-md" action="#" method="post" target="_blank">

        <div class="GridCol2Even-row u-row">

          <div class="GridCol2Even-col u-col">
            <div class="FormField FormField--halfLeft">
              <label class="FormField-label" for="firstname">Vorname<span class="mandatory">(Pflichtfeld)</span></label>
              <div class="FormField-input">
                <input class="TextField" id="firstname" type="text" placeholder="">
              </div>
            </div>
          </div>

          <div class="GridCol2Even-col u-col">
            <div class="FormField FormField--halfRight">
              <label class="FormField-label" for="lastname">Nachname<span class="mandatory">(Pflichtfeld)</span></label>
              <div class="FormField-input">
                <input class="TextField" id="lastnam" type="text" placeholder="">
              </div>
            </div>
          </div>

        </div>

        <div class="FormField">
          <label class="FormField-label" for="email">E-Mail<span class="mandatory">(Pflichtfeld)</span></label>
          <div class="FormField-input">
            <input class="TextField" id="email" type="text" placeholder="">
          </div>
        </div>

        <fieldset class="FormField">
          <legend class="FormField-label u-visuallyHidden">Datenschutzeinwilligung</legend>
          <div class="FormField-input">
            <div class="FormField-choice">
              <input class="Checkbox" type="checkbox" checked="checked" id="datasecurity" name="datasecurity">
              <label class="FormField-choiceLabel" for="datasecurity">Ich bin mit der <f:link.page class="Link" pageUid="6">Datenschutzerklärung</f:link.page> einverstanden<span class="mandatory">(Pflichtfeld)</span></label>
            </div>
          </div>
        </fieldset>

        <div class="FormField u-textAlign--right">
          <div class="u-align-right">
            <button class="Button" type="submit">Anmelden</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</f:section>

</html>
