<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="FrameLimit"/>


<f:section name="Main">
  <div class="ce-textpic ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">

    <div class="u-stack-lg">
      <f:render partial="Header/All" arguments="{_all}" />

      <f:if condition="{gallery.position.vertical} != 'below'">
        <f:render partial="Media/Gallery" arguments="{_all}"/>
      </f:if>

      <f:if condition="{data.bodytext}">
        <div class="RTE u-stack-text">
          <f:format.html>{data.bodytext}</f:format.html>
        </div>
      </f:if>

      <f:if condition="{gallery.position.vertical} == 'below'">
        <f:render partial="Media/Gallery" arguments="{_all}"/>
      </f:if>
    </div>

  </div>

</f:section>
</html>
