@use "../abstracts/functions";
@use "../abstracts/coreTokenColors";
@use "../abstracts/coreTokenSizes";
@use "../abstracts/coreTokenFonts";
@use "../abstracts/coreTokenIcons";
@use "sass:meta";

// Theming: https://codyhouse.co/blog/post/css-custom-properties-vs-sass-variables
// naming tokens: https://medium.com/eightshapes-llc/naming-tokens-in-design-systems-9e86c7444676
// Nucleaus Naming: Tokens https://medium.com/@thomasbudiman/creating-color-systems-and-modes-using-figma-variables-in-5-steps-1fdcd538ab38
// Adobe color theme: https://spectrum.adobe.com/page/color-fundamentals/#Color-theme

:root, [data-theme="light"] {

  // fg
  --ts-semantic-color-fg-default: #{coreTokenColors.$black};
  --ts-semantic-color-fg-highlight: #{coreTokenColors.$yellow-100};
  --ts-semantic-color-fg-error: #{coreTokenColors.$red-100};
  --ts-semantic-color-fg-success: #{coreTokenColors.$green-100};
  --ts-semantic-color-fg-action: #{coreTokenColors.$brown-100};
  --ts-semantic-color-fg-action--hover: #{coreTokenColors.$brown-180};
  --ts-semantic-color-fg-static-light: #{coreTokenColors.$white};
  --ts-semantic-color-fg-static-dark: #{coreTokenColors.$black};
  --ts-semantic-color-fg-on-contrast: #{coreTokenColors.$white};
  --ts-semantic-color-fg-on-contrast--hover: #{coreTokenColors.$white};

  // stroke
  --ts-semantic-color-stroke-default: #{coreTokenColors.$brown-100};
  --ts-semantic-color-stroke-subtle: #{coreTokenColors.$brown-180};

  // bg
  --ts-semantic-color-bg-transparent: transparent;
  --ts-semantic-color-bg-default: #{coreTokenColors.$white};
  --ts-semantic-color-bg-accent: #{coreTokenColors.$brown-100};
  --ts-semantic-color-bg-highlight: #{coreTokenColors.$mint-100};
  --ts-semantic-color-bg-action-default: #{coreTokenColors.$brown-100};
  --ts-semantic-color-bg-action-default--hover: #{coreTokenColors.$brown-180};
  --ts-semantic-color-bg-action-accent: #{coreTokenColors.$mint-100};
  --ts-semantic-color-bg-action-accent--hover: #{coreTokenColors.$yellow-100};

  // coreTokenIcons (css)
  // --ts-semantic-icon-arrow-right: #{functions.svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" preserveAspectRatio="xMidYMin slice" ><g fill="#{coreTokenColors.$blue-100}">#{coreTokenIcons.$arrow-right}</g></svg>')};
  // --ts-semantic-icon-arrow-down: #{functions.svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" preserveAspectRatio="xMidYMin slice" ><g fill="#{coreTokenColors.$blue-100}">#{coreTokenIcons.$arrow-down}</g></svg>')};
  // --ts-semantic-icon-arrow-up: #{functions.svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" preserveAspectRatio="xMidYMin slice" ><g fill="#{coreTokenColors.$blue-100}">#{coreTokenIcons.$arrow-up}</g></svg>')};
  // --ts-semantic-icon-download: #{functions.svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" preserveAspectRatio="xMidYMin slice" ><g fill="#{coreTokenColors.$blue-100}">#{coreTokenIcons.$download}</g></svg>')};
  // --ts-semantic-icon-mail: #{functions.svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" preserveAspectRatio="xMidYMin slice" ><g fill="#{coreTokenColors.$blue-100}">#{coreTokenIcons.$mail}</g></svg>')};
}


// 64x16 = 1024
// @media (min-width: 64rem) {
//  :root, [data-theme="light"] {
//    --ts-semantic-font-size-sm: #{coreTokenSizes.$static-16};
//    --ts-semantic-font-size-base: #{coreTokenSizes.$static-18};
//    --ts-semantic-font-size-md: #{coreTokenSizes.$static-20};
//    --ts-semantic-font-size-lg: #{coreTokenSizes.$static-32 * coreTokenSizes.$font-size-scale-desktop};
//    --ts-semantic-font-size-xl: #{coreTokenSizes.$static-36 * coreTokenSizes.$font-size-scale-desktop};
//    --ts-semantic-font-size-2xl: #{coreTokenSizes.$static-48 * coreTokenSizes.$font-size-scale-desktop};
//    --ts-semantic-font-size-3xl: #{coreTokenSizes.$static-64 * coreTokenSizes.$font-size-scale-desktop};
//    --ts-semantic-font-size-4xl: #{coreTokenSizes.$static-80 * coreTokenSizes.$font-size-scale-desktop};
//  }
// }
