@use "../abstracts/functions";
@use "../abstracts/coreTokenSizes";
@use "../abstracts/coreTokenFonts";
@use "../abstracts/coreTokenIcons";
@use "sass:meta";

// Theming: https://codyhouse.co/blog/post/css-custom-properties-vs-sass-variables
// naming tokens: https://medium.com/eightshapes-llc/naming-tokens-in-design-systems-9e86c7444676


:root {
  // space static
  --ts-semantic-space-none: #{coreTokenSizes.$static-0};
  --ts-semantic-space-2xs: #{coreTokenSizes.$static-4};
  --ts-semantic-space-xs: #{coreTokenSizes.$static-8};
  --ts-semantic-space-sm: #{coreTokenSizes.$static-12};
  --ts-semantic-space-md: #{coreTokenSizes.$static-16};
  --ts-semantic-space-lg: #{coreTokenSizes.$static-32};
  --ts-semantic-space-xl: #{coreTokenSizes.$static-64};
  --ts-semantic-space-2xl: #{coreTokenSizes.$static-80};
  --ts-semantic-space-3xl: #{coreTokenSizes.$static-96};

  // space fluid
  --ts-semantic-space-fluid-lg: #{coreTokenSizes.$fluid-32};
  --ts-semantic-space-fluid-xl: #{coreTokenSizes.$fluid-60};
  --ts-semantic-space-fluid-2xl: #{coreTokenSizes.$fluid-80};
  --ts-semantic-space-fluid-3xl: #{coreTokenSizes.$fluid-96};
  --ts-semantic-space-fluid-4xl: #{coreTokenSizes.$fluid-128};

  // font scale
  --ts-semantic-font-scale-root: #{coreTokenFonts.$scale-100};

  // font coreTokenSizes
  --ts-semantic-font-size-sm: #{coreTokenSizes.$static-16};
  --ts-semantic-font-size-base: #{coreTokenSizes.$static-18};
  --ts-semantic-font-size-md: #{coreTokenSizes.$static-20};
  --ts-semantic-font-size-lg: #{coreTokenSizes.$static-24};
  --ts-semantic-font-size-xl: #{coreTokenSizes.$static-28};
  --ts-semantic-font-size-2xl: #{coreTokenSizes.$fluid-32};
  --ts-semantic-font-size-3xl: #{coreTokenSizes.$fluid-48};
  --ts-semantic-font-size-4xl: #{coreTokenSizes.$fluid-72};

  // font family
  --ts-semantic-font-family-default: #{meta.inspect(coreTokenFonts.$family-poppins)};
  --ts-semantic-font-family-headline: #{meta.inspect(coreTokenFonts.$family-chocolate)};

  // font weights
  // --ts-semantic-font-weight-light: #{coreTokenFonts.$weight-300};
  --ts-semantic-font-weight-regular: #{coreTokenFonts.$weight-400};
  --ts-semantic-font-weight-bold: #{coreTokenFonts.$weight-800};

  // font line heights
  --ts-semantic-font-line-height-xs: #{coreTokenFonts.$line-height-100};
  --ts-semantic-font-line-height-sm: #{coreTokenFonts.$line-height-125};
  --ts-semantic-font-line-height-md: #{coreTokenFonts.$line-height-150};
}



// 64x16 = 1024
// @media (min-width: 64rem) {
//  :root, [data-theme="light"] {
//    --ts-semantic-font-size-sm: #{coreTokenSizes.$static-16};
//    --ts-semantic-font-size-base: #{coreTokenSizes.$static-18};
//    --ts-semantic-font-size-md: #{coreTokenSizes.$static-20};
//    --ts-semantic-font-size-lg: #{coreTokenSizes.$static-32 * coreTokenSizes.$font-size-scale-desktop};
//    --ts-semantic-font-size-xl: #{coreTokenSizes.$static-36 * coreTokenSizes.$font-size-scale-desktop};
//    --ts-semantic-font-size-2xl: #{coreTokenSizes.$static-48 * coreTokenSizes.$font-size-scale-desktop};
//    --ts-semantic-font-size-3xl: #{coreTokenSizes.$static-64 * coreTokenSizes.$font-size-scale-desktop};
//    --ts-semantic-font-size-4xl: #{coreTokenSizes.$static-80 * coreTokenSizes.$font-size-scale-desktop};
//  }
// }
